<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login</title>
		<style>
			html {
				font-size: 75%;
			}
			/* 1rem = 16px */
			* {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}
			.main_div {
				width: 100%;
				height: 100vh;
				position: relative;
				background: url("full.jpg");
				background-repeat: no-repeat;
				background-size: cover;
			}
			.box {
				width: 40rem;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				padding: 5rem;
				background: rgba(0, 0, 0, 0.4);
				border-radius: 1rem;
			}
			.box h1 {
				margin-bottom: 3rem;
				color: rgb(255, 255, 255);
				text-align: center;
				text-transform: uppercase;
			}

			.box .inputBox {
				position: relative;
			}
			.box .inputBox input {
				width: 100%;
				padding: 1rem;
				font-size: 1.6rem;
				color: rgb(255, 255, 255);
				letter-spacing: 0.1rem;
				margin-bottom: 3rem;
				border: none;
				border-bottom: 0.1rem solid #fff;
				background: transparent;
				outline: none;
			}

			.box .inputBox label {
				position: absolute;
				top: 0;
				left: 0;
				letter-spacing: 0.1rem;
				padding: 1rem 0;
				font-size: 1.6rem;
				color: #fff;
				transition: 0.5s;
			}
			.box input[type="submit"]:hover {
				background: rgba(20, 98, 134);
			}
			.box input[type="submit"] {
				width: 10rem;
				outline: none;
				color: #fff;
				background: rgba(24, 170, 238, 0.1);
				padding: 0.8rem 1.6rem;
				border-radius: 0.5rem;
				font-size: 1.4rem;
				text-transform: capitalize;
				font-weight: bold;
				letter-spacing: 0.2rem;
				transition: all 0.5s ease;
			}
			.box .inputBox input:focus ~ label,
			.box .inputBox input:valid ~ label {
				top: -2rem;
				left: 0;
				color: #03a9f4;
				font-size: 1.2rem;
			}
			.submitBtn {
				display: block;
				margin-right: auto;
				margin-left: auto;
			}

			@media (max-width: 998px) {
				html {
					font-size: 55%;
				}
			}
			@media (max-width: 768px) {
				html {
					font-size: 45%;
				}
			}
			@media (max-width: 600px) {
				html {
					font-size: 35%;
				}
			}
			@media (max-width: 400px) {
				html {
					font-size: 25%;
				}
			}
		</style>
	</head>
	<body>
		<div class="main_div">
			<div class="box">
				<h1>Login</h1>
				<form method="POST" action="">
					<div class="inputBox">
						<input type="text" name="username" autocomplete="off" required />
						<label>Username</label>
					</div>
					<div class="inputBox">
						<input
							type="password"
							name="password"
							autocomplete="off"
							required
						/>
						<label>Password</label>
					</div>

					<input class="submitBtn" type="submit" name="" value="login" />
				</form>
			</div>
		</div>
	</body>
</html>
