*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
section{
    padding-bottom: 60px;
}

h1,h2,h3{
    margin: 0;
    color: rgb(7, 7, 7);
    text-transform:uppercase;
    font-weight: 300;
    letter-spacing: 1px;
}
h1{
    margin: 0;
}
h2{
    text-align: center;
    word-spacing: 3px;
}
h2:after{
    font-weight: 900;
    color: black;
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    margin: 0 auto;
    margin-top: 30px;
    width:100px;
}
h3{
    font-size: 110%;
    margin-bottom: 15px;
}
html,body{
    background: #fff;
    color:#555;
    font-family: 'Lato','Arial',sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}

.clearfix{
    zoom: 1;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}




/* ========================  Header Section =========================================*/
header{
    background-attachment: fixed;
    background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.7)),to(rgba(0,0,0,0.7))),url(img/hero.jpg);
    background-image:-o-linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/hero.jpg);
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.hero-text-box{
    text-align: center;
    position: absolute;
    width:1140px;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}
.hero-text-box h1{
    text-align: center;
    font-size: 240%;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
}

/***************************** Main Nav ************************************/


.navlogo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
    transition: 1s;
}

.navlogo-black{
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
    display:none;
}

.navBar{
    float: right;
    list-style: none;
    margin-top: 55px;
}
.navBar li{
    color: #fff;
    display: inline-block;
    margin-left: 40px;
}
.navBar .a{
    padding: 8px 0;
}

.navBar li a:link,
.navBar li a:visited{
    color: #fff;
    word-spacing: 3px;
    padding: 8px 0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.4s;
    -o-transition: border-bottom 0.4s;
    transition: border-bottom 0.4s;

}

.navBar li a:hover,
.navBar li a:active{
    border-bottom: 2px solid #e67e22;
}


/************************ Sticky Nav ********************/
.sticky-nav{
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:rgba(36, 31, 31, 0.835);
    box-shadow: 0 2px 5px #3b3838b6;
}

.sticky-nav .navBar li a:link,
.sticky-nav .navBar li a:visited{
    color: rgb(253, 253, 253);
    padding: 18px 0;
}

.sticky-nav .navBar{margin-top: 20px;}

.sticky-nav .navlogo{display:none;}
.sticky-nav .navlogo-black{display:block;}


/******************************** Mobile Nav ***********************/
.mobileNavIcon{
    float: right;
    margin-top: 3px;
    cursor: pointer;
    display: none;
}
.mobileNavIcon i{
    font-size:200%;
    color: #f4f4f4;
}

/* ========================   Buttons =========================================*/
.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s,border 0.2s,color 0.2s;
    -o-transition: background-color 0.2s,border 0.2s,color 0.2s;
    transition: background-color 0.2s,border 0.2s,color 0.2s;
    margin-right: 20px;
}



.btn-hungry:link,
.btn-hungry:visited
{
    background-color: #e67e22;
    color: #fff;   
}

.btn-hungry:hover,
.btn-hungry:active{
    /* background-color: transparent;
   border: 1px solid #e67e22;
    color: #e67e22; */
    background-color:#d16506;
}
.btn-show-more:link,
.btn-show-more:visited{
    border: 1px solid #e67e22;
    color: #e67e22;
}
.btn-show-more:hover,
.btn-show-more:active{
    background-color: #d16506;
    color: #fff;   
}


section {
    padding: 50px 0 30px 0;
}

/*======================== Section1 ===================================*/
section .aboutContent{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-top: 14px;
    margin-bottom: 40px;
}

.box{
    padding: 1%;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.shadow-box{
    box-shadow: -10px  10px 10px #dfd4d4;
    
}
section .box p{
    font-size: 90%;
    line-height: 145%;
}
/*=============== ICONS ================================*/
.section-feature ion-icon{
    font-size: 270%;
    display: block;
    color: #be5e0a;
    margin-bottom: 10px;
}
/*======================== Section2 ===================================*/


.section-items{
    width: 100%;
    display: block;
    padding-bottom: 0;
}
section .section-items .items{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}
section .items li{
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 25%;
}

section .items .itemPhoto{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 1);
}
section .itemPhoto img{
    width: 100%;
    margin: 0;
    height: auto;
    -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-transition: opacity 2s ,-webkit-transform 2s;
    transition: opacity 2s ,-webkit-transform 2s;
    -o-transition: transform 2s ,opacity 2s;
    transition: transform 2s ,opacity 2s;
    transition: transform 2s ,opacity 2s ,-webkit-transform 2s;
    opacity: 0.7;
   
}
.itemPhoto img:hover{
    opacity: 1;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

/*======================== Section3 ===================================*/

.section-work{
    background-color: #f4f4f4;
    padding-top: 60px;
}
section .workHeading{
    display: block;
    margin-bottom: 20px;
}
.workHeading h1{
    text-align: center;
}
.stepBox:first-child{
    margin-top: 30px;
    text-align: right;
    padding-right: 3%;
}
.stepBox:last-child{
    margin-top: 30px;
    padding-left: 3%;
}
.btn-app img {
    height: 50px;
    margin-left: 30px;
    width: auto;
}
.btn-app:link,
.btn-app:visited{
    border: 0;
}
.appScreen{
    width: 40%;

}
.worksStep{
    margin-bottom: 50px;  
}
.worksStep:last-of-type{
    margin-bottom: 80px;  
}
.worksStep div{
    color: #d16506;
    border: 2px solid #d16506;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    float:left;
    text-align: center;
    padding: 5px;
    font-size: 150%;
    margin-right: 30px;
}

/*========================= Section4 ==============================*/

.section-cities{
    width: 100%;
}
.cityInfo ion-icon{
    font-size: 90%;
    display: inline-block;
    color: #d16506;
    margin-right: 10px;

}

.box img{   
    margin-right: 20px;
    width: 100%;
    height: auto;
}
.cityInfo{
    margin: 10px 10px;
}
.cityInfo a:link,
.cityInfo a:visited{
    color:#e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: border-bottom 0.2s ,color 0.2s;
    -o-transition: border-bottom 0.2s ,color 0.2s;
    transition: border-bottom 0.2s ,color 0.2s;
}
.cityInfo a:hover,
.cityInfo a:active{
    color:#571504;
    border-bottom: 1px solid transparent;

}
.cityTitle{
    font-size: 100%;
    font-weight: 500;
    display: block;
    margin: 10px 10px;
    letter-spacing: 2px;

}
.section-cities h2{
    margin-bottom: 20px;
}

/*=========================== Section 5 =====================================*/

.testimonials{
    background:-webkit-gradient(linear,left top, left bottom,from(rgb(1,1,1,0.7)),to(rgb(1,1,1,0.7))),url(../images/back-customers.jpg);
    background:-o-linear-gradient(rgb(1,1,1,0.7),rgb(1,1,1,0.7)),url(../images/back-customers.jpg);
    background:linear-gradient(rgb(1,1,1,0.7),rgb(1,1,1,0.7)),url(../images/back-customers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    background-attachment: fixed;

}
.testimonials h2{
    color:white;
}

blockquote{
    padding:2%;
    font-style: italic;
    line-height:145%;
    position:relative;
    margin-top: 40px;
}

cite{
    font-size: 90%;
    margin-top:25px;
    display:block;
}
blockquote:before{
    content: "\201c";
    display: block;
    font-size:400%;
    position:absolute;
    top:0;
    left:-5px;

}
cite img{
    height:45px;
    border-radius:50%;
    margin-right: 10px;
    vertical-align: middle;
}



/*=========================== Section 6 =====================================*/
.sign-up-section{
    background-color: #f4f4f4;
    padding-bottom: 50px;
}

.plan-box{
    margin-top:20px;
    background-color:white;
    border-radius:8px;
    width:80%;
    margin-left: 10%;
    box-shadow: -10px  10px 10px #dfd4d4;
}

.plan-box div{
    padding:15px;
    border-bottom: 1px solid #e8e8e8;
}
.plan-price{
    font-size:200%;
    margin-bottom: 10px;
    color: #e67e22;
}
.plan-price span{
    font-size:50%;
    font-weight: 300;
  
}
.plan-price-meal{
    font-size:80%;
    font-weight: 350;
}
.plan-box ul{
    list-style: none;
}

.plan-box ul li{
    padding:5px 0;
}

.plan-box ion-icon{
    color: #e67e22;
}

.plan-box div:last-child{ 
    text-align: center;
    border: none;
}
.plan-box div:first-child{ 
    text-align: center;
    border: none;
    background-color:#fcfcfc;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
}

/******************************** Section 7 ***************************/

.section-contact-form{
    width:60%;
    margin: 0 auto;
    padding-bottom: 60px;
}

input[type="text"],
input[type="email"],select,textarea{
    width:100%;
    padding:7px;
    border-radius: 3px;
    border:1px solid #ccc;
}

input[type="submit"]{
    border: 1px solid #e67e22;
    background-color:#ffffff;
    color: #e67e22;
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    margin-right: 20px;

}

input[type="submit"]:hover,
input[type="submit"]:active {
    border: 1px solid #e67e22;
    background-color:#e67e22;
    color: #ffffff; 
}

textarea{
    height:100px;
}

input[type="checkbox"]{
    margin: 10px 5px 10px 0;
}

*:focus{
    outline:none;
}

/******************************** footer *********************/
/* i{
    color: #e67e22;
} */

footer{
    background-color:#333;
    padding:50px 50px 30px 50px;
    font-size:80%;
}

.footer-nav,
.footer-icons{
    list-style: none;
}

.footer-icons{
    float:right;
    width: 100%;
}
.footer-nav{
    float:left;
    width: 100%;
}



.footer-nav li,
.footer-icons li{
    display: inline-block;
    margin-right: 20px;
    padding:2%;
}

.footer-nav li:last-child,
.footer-icons li:last-child{
    display: inline-block;
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.footer-icons li a:link,
.footer-icons li a:visited
{
    text-decoration:none;
    color:#888;
    border:0;
    -webkit-transition:color 0.2s;
    -o-transition:color 0.2s;
    transition:color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active
{
    color:rgb(204, 194, 194);
}



footer div p{
    color:#888;
    text-align:center;
    margin-top:20px;
}


.footer-icons li a:link,
.footer-icons li a:visited{
    font-size:150%;
}

.fa-facebook-square,
.fa-instagram,
.fa-envelope,
.fa-twitter{
    -webkit-transition:color 0.5s;
    -o-transition:color 0.5s;
    transition:color 0.5s;
}


.fa-facebook-square:hover{
    color:#3b5998;    

}
.fa-instagram:hover{
    color:rgb(248, 9, 81);    

}
.fa-envelope:hover{
    color:#dd4b39;    

}
.fa-twitter:hover{
     color:#00aced;     

}


/******************************* Animation ****************************/
#changeContent{
    transition: 1s;
    color: #d16506;
    font-weight: 600;
      }

.jquery-wp-1,
.jquery-wp-2,
.jquery-wp-3
{
    opacity: 0;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}

.jquery-wp-4
{
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}

.jquery-wp-1.animated,
.jquery-wp-2.animated,
.jquery-wp-3.animated
{
   opacity: 1;
}
